body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px auto;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-add-task {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-add-task:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.btn-delete {
    cursor: pointer;
    margin-left: 1rem;
    padding: .3rem;
    border-radius: .3rem;
    background: red;
    border: none;
    color: white;
}

.btn-disable{
    background: #888888;
    cursor: none;
}
